/WhatsEat/WhatsEat/bin/Debug/net6.0/appsettings.Development.json
/WhatsEat/WhatsEat/bin/Debug/net6.0/appsettings.json
/WhatsEat/WhatsEat/bin/Debug/net6.0/Azure.Core.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Azure.Identity.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Humanizer.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.UI.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.Identity.Client.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.SqlServer.Server.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/Mono.TextTemplating.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/System.CodeDom.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/System.Drawing.Common.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/System.Memory.Data.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/System.Runtime.Caching.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/System.Security.Permissions.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/System.Text.Encodings.Web.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/System.Text.Json.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/System.Windows.Extensions.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/WhatsEat.deps.json
/WhatsEat/WhatsEat/bin/Debug/net6.0/WhatsEat.dll
/WhatsEat/WhatsEat/bin/Debug/net6.0/WhatsEat.exe
/WhatsEat/WhatsEat/bin/Debug/net6.0/WhatsEat.pdb
/WhatsEat/WhatsEat/bin/Debug/net6.0/WhatsEat.runtimeconfig.json
/WhatsEat/WhatsEat/bin/Debug/net6.0/WhatsEat.staticwebassets.runtime.json
/WhatsEat/WhatsEat/obj/Debug/net6.0/apphost.exe
/WhatsEat/WhatsEat/obj/Debug/net6.0/project.razor.vs.json
/WhatsEat/WhatsEat/obj/Debug/net6.0/ref/WhatsEat.dll
/WhatsEat/WhatsEat/obj/Debug/net6.0/refint/WhatsEat.dll
/WhatsEat/WhatsEat/obj/Debug/net6.0/scopedcss/bundle/WhatsEat.styles.css
/WhatsEat/WhatsEat/obj/Debug/net6.0/scopedcss/projectbundle/WhatsEat.bundle.scp.css
/WhatsEat/WhatsEat/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/WhatsEat/WhatsEat/obj/Debug/net6.0/staticwebassets.build.json
/WhatsEat/WhatsEat/obj/Debug/net6.0/staticwebassets.development.json
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.AssemblyInfo.cs
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.AssemblyInfoInputs.cache
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.assets.cache
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.csproj.AssemblyReference.cache
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.csproj.BuildWithSkipAnalyzers
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.csproj.CopyComplete
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.csproj.CoreCompileInputs.cache
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.csproj.FileListAbsolute.txt
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.dll
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.GeneratedMSBuildEditorConfig.editorconfig
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.genruntimeconfig.cache
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.MvcApplicationPartsAssemblyInfo.cache
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.MvcApplicationPartsAssemblyInfo.cs
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.pdb
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.AssemblyInfo.cs
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.AssemblyInfoInputs.cache
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.assets.cache
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.csproj.AssemblyReference.cache
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.GeneratedMSBuildEditorConfig.editorconfig
WhatsEat/WhatsEat/obj/Debug/
/WhatsEat/.vs/ProjectEvaluation/whatseat.metadata.v5.1
/WhatsEat/.vs/ProjectEvaluation/whatseat.projects.v5.1
/WhatsEat/.vs/WhatsEat/DesignTimeBuild/.dtbcache.v2
/WhatsEat/.vs/WhatsEat/FileContentIndex/02705267-f7fe-4f48-a6ff-8d60a321c2bd.vsidx
/WhatsEat/.vs/WhatsEat/FileContentIndex/24a9df88-bebf-40e7-ac07-1194790f8445.vsidx
/WhatsEat/.vs/WhatsEat/FileContentIndex/28262269-b9ae-4d16-a956-9e68ec700b55.vsidx
/WhatsEat/.vs/WhatsEat/FileContentIndex/4be703c1-e426-443f-a11d-94660d57b521.vsidx
/WhatsEat/.vs/WhatsEat/FileContentIndex/5c84210d-cd6c-47f6-83ab-a1cc55502c8d.vsidx
/WhatsEat/.vs/WhatsEat/FileContentIndex/c7425145-7f09-49ad-83ab-bc9306e45aea.vsidx
/WhatsEat/.vs/WhatsEat/FileContentIndex/f9301671-7130-4a80-8cdb-db9eac29a57e.vsidx
/WhatsEat/.vs/WhatsEat/FileContentIndex/fff328e8-e15f-4d7a-a8e2-360a0c1d415a.vsidx
/WhatsEat/.vs/WhatsEat/v17/.futdcache.v2
/WhatsEat/.vs/WhatsEat/v17/.suo
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.AssemblyInfo.cs
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.AssemblyInfoInputs.cache
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.assets.cache
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.csproj.AssemblyReference.cache
/WhatsEat/WhatsEat/obj/Debug/net6.0/WhatsEat.GeneratedMSBuildEditorConfig.editorconfig
/WhatsEat/WhatsEat/obj/staticwebassets.pack.sentinel
