@model WhatsEat.ViewModel.UserFridgeViewModel
@{
}
<h1>@Model.UserId</h1>
<table class="table table-bordered table-dark">
    @*<thead>
        <th>
            Холодильник
        </th>
    </thead>*@
    <tbody>
        @foreach (ProductType type in Model.ProductTypes)
        {
            <tr>
                <th scope="col" width=15%>
                    @type.Name
                </th>
                <td>
                    @foreach (var product in @Model.Products)
                    {
                        <p>
                            if (product.productType.Name == type.Name)
                            {
                                @product.Name
                            }
                        </p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Home" asp-action="Index" class="btn-primary">
        Loh
    </a>
</div>
