@model WhatsEat.ViewModel.UserFridgeVM
@{
}
<body class="fridge-bg">
    <p2>Холодильник</p2>
    <table class="table table-bordered" id="fridge" style="width: 91%; margin-left: auto; margin-right: auto;">
        <tbody>
            @foreach (ProductType type in Model.ProductTypes)
            {
            <tr>
                <th scope="col" width=15%>
                    @type.Name
                </th>
                <td>
                    @foreach (var product in @Model.Products)
                    {
                    @if (product.productType.Name == type.Name)
                    {
                            @*TODO: Возможность удалять продукты*@
                            <a asp-action="DeleteProduct" asp-route-id="@product.Id">
                                <span class="badge bg-light text-dark">
                                    @product.Name
                                </span>
                            </a>
                    }
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="AddProducts" class="btn-outline-dark">
            Добавить продукты
        </a>
    </div>
</body>
