@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}



<div>
    <div class="row">
       <div class="col-md-4" id="manage-profile">
        <h2>Аккаунт</h2>
        <h5>Изменить настройки профиля</h5>
        <br/>
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-1"> </div>
        <div class="col-md-7" id="manage-profile">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
