html {
  font-size: 14px;
  height:100%;
  font-family: Georgia;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    min-height: 100%;
    /*background-color: #d1c2b8;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

/*задний фон навигационной панели*/
#navbar-bg {
    background-color: #e9ecefeb;
    opacity: 0.9;
}

/*кнопки войти/выйти*/
#btn.nav-link {
    color: #f8f9fa;
    border-color: #0f5132;
    background-color: #381d1b;
    text-align: center;
    border-radius: 100px;
}


/*кнопка аккаунта*/
#manage.nav-link {
    color: #381d1b;
    transition: 0.5s;
    font-size: large;
    font-family: georgia;
}

    #manage.nav-link:hover {
        color: #381d1b;
        top: -4px;
        left: -4px;
        transform: scale(0.8);
        box-shadow: 0px 0px 5px 5px #f8f9fa;

    }


/*кнопк»*/
#body-btn {
    background-color: #222f3a;
    color: #f8f9fa;
    border-color: #222f3a;
    transition: 0.5s;
    text-align: center;
}

/*цвет при наведении на кнопку*/
    #body-btn:hover {
        top: -4px;
        left: -4px;
        transform: scale(0.8);
    }

    #body-btn:focus {
        top: -4px;
    }

 /*цвет заголовков*/
h1, h2, h3, h4, h5, h6 {
    color: #381d1b;
    text-align: center;
    font-family:Georgia;
}

.col-md-4 {
    text-align: center;
}

/*цвет ссылок*/
#account-link {
    color: #381d1b;
}

/*форма входа в аккаунт*/
#account {
    width: 33%;
    border-radius: 5%;
    padding: 20px 40px;
    margin-top: 3%;
    background-color: #8c878b;
    opacity: 0.9;
}

/*форма */
.form-control {
    padding: 50px;
    background-color: #FBF7F4;
    border-color: #FBF7F4;
}

    .form-control:focus {
        box-shadow: 0px 0px 11px 2px #e9ecefeb;
        border-color: #e9ecefeb;
        
    }
    .form-control:active {
        background-color: #FBF7F4;
    }
    .form-control:disabled {
        background-color: #FBF7F4;
    }

#manage-profile.nav-link {
    color: #381d1b;
    
}

    #manage-profile.nav-link:hover {
        opacity: 0.9;
        background-color: #222f3a;
        color: #f8f9fa;
        border-color: #222f3a;
    }

    #manage-profile.nav-link.active {
        background-color: #222f3a;
        color: #f8f9fa;
    }

#manage-profile.col-md-4 {
    margin-top: 30px;
    border-radius: 5%;
    padding: 20px 40px;
    margin-top: 3%;
    background-color: #adb5bde6;
    opacity: 0.9;
}

#manage-profile.col-md-7 {
    margin-top: 30px;
    border-radius: 5%;
    padding: 20px 40px;
    margin-top: 3%;
}

.form-check-input{
    background-color: #FBF7F4;
    border-color: #381d1b;
}

.form-check-input:checked{
    background-color: #381d1b;
    box-shadow: 0px 0px 0px 0px #381d1b;
    border-color: #381d1b;
}

    .form-check-input:focus {
        box-shadow: 0px 0px 0px 0px #849051;
        border-color: #d1c2b8;
    }

#email-verification {
    color: #381d1b;
}

#email-verification:focus{
    box-shadow: 0px 0px 0px 0px;
}

a{
    color: #381d1b;
}
a:hover{
    color: #381d1b;
}
 

    #home-page.col-md-12:hover {
   -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    transition-duration:1s;
}

#header {
    font-weight: bold;
    margin-top: 15%;
    font-family: Georgia;
    font-size: 4em;
}

    #parag {
        font-weight: bold;
        color:#381d1b;
        font-family: Garamond;
        font-size: 20px;
    }

#p {
    font-size: 12px;
    font-weight: bolder;
    color: darkred;
}

#recipe.form-control {
    padding: 1%;
    width: 30%;
    background-color: #fffdf6;
    border-color: #f8f9fa;
}

#cook.form-control {
    width: 50%;
    padding: 10%;
    background-color: #fffdf6;
    border-color: #381d1b;
}

#create.table {
    background-color: #adb5bdc7;
    border-color: #381d1b;
}


.bg-layout {
    background-image: url(../food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-bg {
    background-image: url(../login1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.account-bg {
    background-image: url(../account.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#email-verification {
    color: #e9ecef;
    font-size: x-small;
}

#personal-data {
    color: #381d1b;
    font-weight: bolder;
    font-size: medium;
    background-color: hwb(210deg 68% 26% / 38%);
    opacity: 0.9
}

.create-bg {
    background-image: url(../create1.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.recipe-box {
    color: #381d1b;
    font-family: georgia;
    font-size: larger;
    font-weight: bolder;
}

.users-bg {
    background-image: url(../user.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.user-box {
    border-color: #dee2e6;
    background-color: #adb5bdba;
    border-radius: 20px;
    width: 60%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

